services:
  metastore-db:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: hive
      MYSQL_DATABASE: metastore
      MYSQL_USER: hive
      MYSQL_PASSWORD: hive
    ports:
      - "3307:3306"

  hive-metastore:
    image: apache/hive:3.1.3
    depends_on:
      - metastore-db
    environment:
      SERVICE_NAME: metastore
    ports:
      - "9083:9083"

  hive-server:
    image: apache/hive:3.1.3
    depends_on:
      - hive-metastore
    environment:
      SERVICE_NAME: hiveserver2
    ports:
      - "10000:10000"
